@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,latin-ext);
@import url('../fontello/css/dosna-icons.css');
.font-primary{
	font-family: 'Source Sans Pro', sans-serif;
}
.font-header{
	font-family: 'Source Sans Pro', sans-serif;
}
.font-spec{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.font-icon{
	font-family: 'dosna-icons';
}
